.header {
    background: var(--background);
    border-bottom: 1px solid var(--border);

    position: fixed;
    top: 0;
    width: 100%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    max-width: 957px;
    margin: 0 auto;
    width: 90%;
}

.header .container .logo{
    width: 110px;
    cursor: pointer;

}

.input-fake {
    background: var(--background-main);
    border-radius: 1px solid var(--border);
    padding: 3px 10px;
    display: flex;
    align-items: center;
}

.input-fake input{
    font-size: 14px;
    padding: 0 7px;
}

.menu-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;   
}

.menu-icons .img-user{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}


.letreiro{
    font-size: 50px;
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}